@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-section">

    <div class="overlay">

        <div class="hero-content text-center">

            <h1 class="display-3 fw-bold text-white">
               The Church Of The Holy Ghost
            </h1>

            <p class="lead text-white mt-3">
                Circuit and Branch Management Portal
            </p>

            <div class="mt-4">

                <a asp-controller="Branches"
                   asp-action="Index"
                   class="btn btn-primary btn-lg me-3">
                    View Branches
                </a>

                <a asp-controller="Members"
                   asp-action="Index"
                   class="btn btn-success btn-lg">
                    View Members
                </a>

            </div>
            <br />
            <p class="text-white">
                Luke 24 verse 36 : “While they were still talking about this,
                Jesus himself stood among them and said to them, ‘Peace be with you.’” greetings
            </p>

        </div>

    </div>

</div>